body{
    background-color: rgb(240, 239, 236);
}
ul{
    list-style: none;
}
li.list-item {
    margin: 10px;
}
button{
    border: none;
    margin-left: 20px;
}
button:focus{
    outline: none;
}
.btn-add{
    height: 30px;
    margin-left: 20px;
}
.heading{
    padding: 5px;
    background-color: rgb(243, 200, 162);
    text-align: center;
}
.main__card-bg{
    /* width: 50%; */
    padding: 20px;
    background-color: thistle;
}
.tasks {
}
ul .list {

}

.task-title {
}
.btn__delete-task {
    margin-left: 20px;
}
.card__add {
}
.card__header {
    margin-left: 30px;
    padding: 8px;
}
.input__add-task{
    border: none;
    width: 300px;
    height: 30px;
    outline: none;
    /* padding: 3px; */
}
.card__body {
}
.form__new-task {
}